.header {
  background-color: #632c91;
  text-align: center;
}

.logo-container img {
  max-height: 10vh;
  margin-top: 1vh;
  margin-bottom: 1vh;
}

.logo-container {
  color: #ffffff;
  font-weight: bold;
  font-size: 1.5em;
}

.image-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 100%;
  align-items: center;
  justify-items: center;
}
